body {
  background-color: #dadada;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"%3E%3Cg fill-rule="evenodd"%3E%3Cg fill="%239C92AC" fill-opacity="0.2"%3E%3Cpath opacity=".5" d="M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z"/%3E%3Cpath d="M6 5V0H5v5H0v1h5v94h1V6h94V5H6z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
}

.show-cart li {
  display: flex;
}
.card {
  margin-bottom: 20px;
}
.card-img-top {
  width: 200px;
  height: 200px;
  align-self: center;
}

h1 {
  font-family: "Pixelify Sans", cursive;
  font-size: 100px;
  margins: auto;
}

.layout {
  width: auto;
  height: 768px;
  display: grid;
  grid:
    "header" auto
    "main" 1fr
    "footer" auto
    / 1fr;
  gap: 8px;
  padding-bottom: ;
}

.header {
  grid-area: header;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  padding: 10px;
}

#rcorners2 {
  border-radius: 25px;
  border: 0.5px solid black;
  width: 30px;
  height: 30px;
  padding: 5px;
}

.grow1 {
  flex-grow: 0.1;
  text-align: center;
  font-family: "Handjet", cursive;
  color: black;
  text-decoration: none;
}

.main {
  grid-area: main;
  margin: auto;
}

#fulllife {
  font-family: "Pixelify Sans", cursive;
  font-style: italic;
  z-index: -2;
}

#metal {
  padding-top: 30px;
  margin: auto auto;
  width: 90%;
  position: absolute;
  top: 1%;
  z-index: -1;
  left: 40%;
}

#avalon {
  font-family: "Pixelify Sans", cursive;
  font-size: 100px;
  z-index: 2;
  margin: auto;
}

.footer {
  grid-area: footer;
}

.draggable {
  position: absolute;
  z-index: 1;
}

.draggable img {
  width: 60%;
  cursor: grab;
  transition: box-shadow 0.3s ease;
}

#cards {
  width: 60%;
}

.about {
  display: flex;
  justify-content: space-evenly;
  gap: 16px;
  flex-grow: 1;
}

.about img {
  height: 40%;
  padding: 20px;
  margin: auto auto;
}

.about p1 {
  padding: 20px;
}

.products {
  width: auto;
  height: auto;
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  padding-bottom: 200px;
  padding-righy: 40px;
}

.products img {
  width: 650px;
  filter: drop-shadow(grey -1rem 1rem 25px);
  padding-left: 200px;
}

.products h1 {
  margin: 0px;
  padding-top: 120px;
}

.products h2 {
  font-size:  40px;
}

.products p {
  padding-right: 200px;
  text-align: justify;
  font-size: 20px;
}

.products p1 {
  font-size: 15px;
  padding-right: 200px;
  text-align: justify;
}
